
{{!-- get the data out of the DB and use handlebars to send it to main --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mongo Web Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/" id="home-button">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/saved" id="saved-button">Saved News Articles<span class="sr-only">(current)</span></a>
                
                <button type="button" class="btn btn-secondary" id="scrape-button">Scrape New News Articles</button>
                <button type="button" class="btn btn-secondary" id="clear-button">Clear News Articles</button>
            </div>
        </div>
    </nav>

    <h1>Mongo News Scraper</h1>

<div id="news-articles"></div>

</body>
</html>

